<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetandroid">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetAndroid">
        <activity
            android:name="com.example.Activités.ResultatTeteContreTable"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.MultiplicationsTeteContreTable"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.RegleTeteContreTable"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.ChoixTeteContreTable"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.CalculeMoiSiTuPeux"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.TeteContreTable"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.MenuMaths"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.MenuGeographie"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.MenuAnglais"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.MediaTest"
            android:exported="true" />
        <activity
            android:name="com.example.Activités.Connexion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Activités.Accueil"
            android:exported="true" />
    </application>

</manifest>